*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*NO ES TEMPLATE*/
.banner{
    background-color: #4B5320; 
    color: #FFF; 
    padding: 2%;
    text-align: center;
}

.banner > h1{
    margin: 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros{
    /* border: 1px white solid; */
    padding: 0px;
}

.nosotros > p{
    /* border: 1px red solid; */
    margin-top: .8%;
    font-size: 24px;
    font-weight: bold;
}

.nosotros-texto{
    /* border: 1px white solid; */
    width: 70%;
    margin: auto;
}

.nosotros-texto > p{
    /* border: 1px white solid; */
    margin-top: 1%;
    font-size: 16px;
    text-align: justify;
}

.tenemos{
    margin-top: 1%;
    margin-bottom: 10px;
}

.muchosmas{
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
}

#bannerproductosContainer {
    display: flex;
    justify-content: center;
    gap: 2%; 
}

#productosContainer {
    /* border: 1px blue solid; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 20px; */
    column-gap: 40px;
    row-gap: 20px;
    justify-content: center;
}

.listaproductos{
    /* margin-top: 1%; */
    background-color: ivory;
}

/*FIN DE NO ES TEMPLATE*/

/*---------------------------------------------------------------------------------------------*/

/*TEMPLATE*/
.bannerproducto {
    /* border: 1px solid #ccc; */
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}
.bannerproducto:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.producto{
    border: 1px gainsboro solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.detalles-producto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #333;
    z-index: 1000;
}

.detalles-producto .cerrar-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
